.navbar{
    background-color: #3A497B;
    width: 70%;
    border-radius:100vh ;
    position: absolute;
    top: 30%;
    left: 15%;
    text-transform: uppercase;
   
}

.navbar-nav .nav-link.active, .nav-link:hover{
    color:#0099CC ;
}
section#nav{
    background-image: url(../assests/wraper.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 38vh;
}
body{
    background-color: #272B30;  
}

.card-footer small{
    border:1px solid transparent;
    border-radius: 3px;
    background-color: #32383E;
    color: white;

}
.card{
    background-color: #272B30;
    color: white;
    transition: all ease 0.5s;
}
.card-text{
    color: #8D9092;
}

.card:hover{
    transform: scale(1.125);
}